section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color:rgba(245, 39, 135, 0.58);
}
body{
    text-align: center;
    background-color: rgb(30, 255, 176);
}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    
}

.facts{
    display: flex;
    margin-bottom: 20px;
}



img{
    max-height: 200px;
    max-width: 100%;
    margin-top: 20px;
}